@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
#home{
    height: 1050px;
    background-color: white;
    width: 100%;
}

#logoImg{
    position: absolute;
    left: 0;
    top: 80px;
    height: 500px;
    width: 100%;
    color: white;
    background-size: cover;
    background-image: url("https://images.ctfassets.net/lzny33ho1g45/66zDmwVz2N4aN4k589RRjB/36f5339cd45ed61b6560292a696e91d5/notes?w=1400");
}

#logoSec{
    position: absolute;
    left: 0;
    top: 100px;
    height: 500px;
    width: 100%;
    display: grid;
}

#Logo{
    height: 210px;
    top: 100px;
    position: relative;
}

#blackFilter1{
    position: absolute;
    left: 0;
    top: 80px;
    height: 500px;
    width: 100%;
    background-color: white;
    opacity: 50%;
}

#intro{
    position: absolute;
    width: 98.7%;
    left: 0;
    top: 600px;    
}

#intro h1{
    position: relative;
    left: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#intro p{
    position: relative;
    font-size: 25px;
    left: 50px;
    width: 95%;
    text-align: left;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#featuresImg{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 950px;
    background-image: url("https://miro.medium.com/v2/resize:fit:625/1*4r4x8mggXOEYz1vU7tCdAw.jpeg");
    background-size: cover;
    color: white;
}

#blackFilter2{
    position: absolute;
    left: 0;
    top: 950px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 70%;
}

#features{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 950px;
    color: white;
    font-size: 40px;
}