#createNotesImg{
  position: absolute;
  left: 0;
  top: 80px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKXVDGA27XnN1mVaW9wZopQ40ubctLKAcReA&s");
  background-size: cover;
  height: 400px;
  width: 100%;
}

#createNotesBlackCover{
  position: absolute;
  left: 0;
  top: 80px;
  background-color: black;
  opacity: 30%;
  height: 400px;
  width: 100%;
}

#createNotes{
  position: absolute;
  left: 0;
  top: 150px;
  height: 400px;
  width: 100%;
  color: white;
  font-size: 25px;
}

#createNotes button{
  font-size: 17px;
  color: black;
  background-color: white;
  border-radius: 50px;
  border: 3px solid;
}

#createNotes h1{
  font-weight: 100;
}

#notesSearch input{
  position: absolute;
  top: 550px ;
  left: 100px;
  height: 30px;
  width: 65%;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  border: 3px solid black;
  color: black;
  background-color: white;
}

#sortBtn{
  position: absolute;
  top: 555px;
  right: 100px;
  height: 30px;
  width: 130px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
}

#notesSection{
  position: absolute;
  width: 100%;
  top: 650px;
  left: 0;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4,auto);
  gap: 50px;
}

#notesBar{
  border:black 3px solid;  
  border-radius: 20px;
  width: 250px;
  position: relative;
  left: 40px;
  top: 50px;
  height: 120px;
  color: black;
}
#deleteBtn{
  height: 15px;
  position: absolute;
  right: 10px;
  top: 5px;
}