@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
#addDefinitionSection{
    width: 100%;
    background-color: white;
}
#AddDefinitionHead{
    font-family: "K2D" , sans-serif;
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
}
#addDefinitionBox{
    width: 100%;
    position: absolute;
    left: 0;
    top: 350px;
}
#subTopicDefinition{
    width: 90%;
    height: 40px;
    background-color: white;
    border: 4px solid black;
    border-bottom: 2px solid;
    color: black;
    font-size: 30px;
}
#textDefinition{
    width: 90%;
    height: 100px;
    background-color: white;
    border: 4px solid black;
    border-top: 0;
    color: black;
    font-size: 20px;
    resize: none;
}
#AddDefinitionBtn{
    position: absolute;
    top: 580px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 50px;
    left: 45%;
}
#definition{
    height: 21px;
    position: relative;
    top: 5px;
}