@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
#addVoiceRecordingSection{
    width: 100%;
}
#addVoiceRecordingBox{
    width: 100%;
    position: absolute;
    left: 0;
}
#AddVoiceRecordingHead{
    font-family: "K2D", sans-serif;
}
#VoiceRecordingLink{
    width: 90%;
    height: 40px;
    background-color: white;
    border: 4px solid black;
    border-top: 0px;
    color: black;
    font-size: 30px;
}
#AddVoiceRecordingBtn{
    position: absolute;
    top: 80%;
    left: 40%;
    border-radius: 50px;
    color: black;
    background-color: white;
    border: 1px solid;
}
#voice{
    height: 22px;
    position: relative;
    top: 3px;
}
#subTopicVoiceRecording{
    width: 90%;
    height: 40px;
    background-color: white;
    border: 4px solid black;
    border-bottom: 2px solid;
    color: black;
    font-size: 30px;
}